{% extends "template.html" %}
{% block conteudo %}
  <form action="{{ url_for('atualizar') }}" method="post" enctype="multipart/form-data">
      <div class="container">
          <div class="row" style="margin-bottom: 10px;">
              <figure class="thumb col-sm capa-midia">
                  <img class="col-sm img-responsive" src="{{ url_for('imagem', nome_arquivo=capa_midia) }}">
                  <figcaption>
                      <label class="fileContainer">
                          Mudar capa
                          <input type="file" name="arquivo" accept=".jpg">
                      </label>
                  </figcaption>
              </figure>

              <fieldset class="col-sm">
                  <input type="hidden" name="id" value="{{ midia.id }}">
                  <div class="form-group">
                      <label for="titulo">Título</label>
                      <input type="text" id="titulo" name="titulo" class="form-control" value="{{ midia.titulo }}">
                  </div>
                  <div class="form-group">
                      <label for="genero">Gênero</label>
                      <input type="text" id="genero" name="genero" class="form-control" value="{{ midia.genero }}">
                  </div>
                  <div class="form-group">
                      <label for="ano">Ano</label>
                      <input type="number" id="ano" name="ano" class="form-control" value="{{ midia.ano }}">
                  </div>
                  <div class="form-group">
                      <label for="sinopse">Sinopse</label>
                      <textarea type="text" id="sinopse" name="sinopse" class="form-control">{{ midia.sinopse }}</textarea>
                  </div>
                  <div class="form-group">
                      <label for="temporadas">Temporadas</label>
                      <input type="number" id="temporadas" name="temporadas" class="form-control" value="{{ midia.temporadas }}">
                  </div>
                  <button type="submit" class="btn btn-primary btn-salvar botao">Salvar</button>
                  <a class="btn btn-danger" href="{{ url_for('deletar', id=midia.id) }}">Remover</a>
                  <a class="btn btn-dark float-right" href="{{ url_for('index') }}">Voltar</a>
              </fieldset>
          </div>
     </div>
  </form>

    <div class="container">
          <h3 style="margin-bottom: 20px;">Temporadas</h3>
          <div class="row">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                  {% for i in range(1, midia.temporadas+1): %}
                  <li class="nav-item">
                      <a class="nav-link temp-tab {% if i==1 %}active{% endif %}" id="s{{ i }}-tab" data-toggle="tab" href="#s{{ i }}" role="tab" aria-controls="s{{ i }}" aria-selected="{% if i==1 %}true{% else %}false{% endif %}">{{ i }}</a>
                  </li>
                  {% endfor %}
              </ul>
          </div>

          <div class="row">
              <div class="tab-content" id="myTabContent" style="width: 100%;">
                  {% for i in range(1, midia.temporadas+1): %}
                  <div class="tab-pane fade {% if i==1 %}show active{% endif %}" id="s{{ i }}" role="tabpanel" aria-labelledby="s{{ i }}-tab">
                      <table class="table table-sm table-hover table-dark">
                          <thead>
                            <tr>
                              <th class="col-episodioId" scope="col">#</th>
                              <th scope="col">Título</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for episodio in temporadas[i-1] %}
                            <tr data-toggle="modal" data-target="#exampleModal-{{ episodio.temporadaId }}-{{ episodio.id }}" style="cursor: pointer;">
                              <th scope="row">{{ episodio.id }}</th>
                              <td>{{ episodio.nome }}</td>
                            </tr>

                            <div class="modal fade" id="exampleModal-{{ episodio.temporadaId }}-{{ episodio.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content app-body">
                                  <div class="modal-header modal-border">
                                    <h5 class="modal-title" id="exampleModalLabel">Editar episódio</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form action="{{ url_for('atualizarEpisodio') }}" method="post">
                                        <fieldset class="col-sm">
                                            <input type="hidden" name="midiaId" value="{{ episodio.midiaId }}">
                                            <input type="hidden" name="temporadaId" value="{{ episodio.temporadaId }}">
                                            <div class="row">
                                              <div class="form-group col-sm-2">
                                                  <label for="id">#</label>
                                                  <input readonly type="number" id="id" name="id" class="form-control" value="{{ episodio.id }}">
                                              </div>
                                              <div class="form-group col-sm-10">
                                                  <label for="nome">Título</label>
                                                  <input type="text" id="nome" name="nome" class="form-control" value="{{ episodio.nome }}">
                                              </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-salvar botao">Salvar</button>
                                            <a class="btn btn-danger float-right" href="{{ url_for('deletarEpisodio', midiaId=midia.id, temporadaId=i, id=episodio.id) }}">Remover</a>
                                        </fieldset>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                          </tbody>
                      </table>

                      <h5>Novo episódio</h5>
                      <form action="{{ url_for('criarEpisodio') }}" method="post">
                        <fieldset class="col-sm novo-ep">
                            <input type="hidden" name="midiaId" value="{{ midia.id }}">
                            <input type="hidden" name="temporadaId" value="{{ i }}">
                            <div class="row">
                              <div class="form-group col-sm-2">
                                  <label for="novoId">#</label>
                                  <input type="number" id="novoId" name="id" class="form-control">
                              </div>
                              <div class="form-group col-sm-10">
                                  <label for="novoNome">Título</label>
                                  <input type="text" id="novoNome" name="nome" class="form-control">
                              </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-salvar botao">Salvar</button>
                        </fieldset>
                      </form>
                  </div>
                  {% endfor %}
              </div>
          </div>
    </div>

<style>
    .capa-midia {
        max-width: 384px;
    }

    img {
        max-width: 330px;
    }
    td {
        text-align: left;
    }
    .temp-tab {
        background: #2c2f33 !important;
        color: 	#99aab5 !important;
    }
    .modal-border {
        border-color: #2c2f33;
    }
    .col-episodioId {
        width: 50px;
    }
    .active {
        border: none !important;
        color: #7289da !important;
    }
    .nav-tabs {
        border-color: #7289da;
    }
    .nav-link:hover {
        border: none !important;
        color: #7289da !important;
    }
    .novo-ep {
        padding-left: 0;
    }
</style>

{% endblock %}