{% extends "template.html" %}
{% block conteudo %}
  <form action="{{ url_for('atualizar') }}" method="post" enctype="multipart/form-data">
      <figure class="thumb col-md-4">
          <img class="img-responsive" src="{{ url_for('imagem', nome_arquivo=capa_midia) }}">
          <figcaption>
              <label class="fileContainer">
                  Mudar capa
                  <input type="file" name="arquivo" accept=".jpg">
              </label>
          </figcaption>
      </figure>

      <fieldset>
          <input type="hidden" name="id" value="{{ midia.id }}">
          <div class="form-group">
              <label for="titulo">Título</label>
              <input type="text" id="titulo" name="titulo" class="form-control" value="{{ midia.titulo }}">
          </div>
          <div class="form-group">
              <label for="genero">Gênero</label>
              <input type="text" id="genero" name="genero" class="form-control" value="{{ midia.genero }}">
          </div>
          <div class="form-group">
              <label for="ano">Ano</label>
              <input type="number" id="ano" name="ano" class="form-control" value="{{ midia.ano }}">
          </div>
          <div class="form-group">
              <label for="sinopse">Sinopse</label>
              <input type="text" id="sinopse" name="sinopse" class="form-control" value="{{ midia.sinopse }}">
          </div>
          <div class="form-group">
              <label for="tipo">Tipo</label>
              <input type="text" id="tipo" name="tipo" class="form-control" value="{{ midia.tipo }}">
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
      </fieldset>
  </form>
{% endblock %}